NF3339.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="nfeProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NFe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="infNFe">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ide">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cUF" type="xs:unsignedByte" />
                          <xs:element name="cNF" type="xs:unsignedInt" />
                          <xs:element name="natOp" type="xs:string" />
                          <xs:element name="mod" type="xs:unsignedByte" />
                          <xs:element name="serie" type="xs:unsignedByte" />
                          <xs:element name="nNF" type="xs:unsignedShort" />
                          <xs:element name="dhEmi" type="xs:dateTime" />
                          <xs:element name="dhSaiEnt" type="xs:dateTime" />
                          <xs:element name="tpNF" type="xs:unsignedByte" />
                          <xs:element name="idDest" type="xs:unsignedByte" />
                          <xs:element name="cMunFG" type="xs:unsignedInt" />
                          <xs:element name="tpImp" type="xs:unsignedByte" />
                          <xs:element name="tpEmis" type="xs:unsignedByte" />
                          <xs:element name="cDV" type="xs:unsignedByte" />
                          <xs:element name="tpAmb" type="xs:unsignedByte" />
                          <xs:element name="finNFe" type="xs:unsignedByte" />
                          <xs:element name="indFinal" type="xs:unsignedByte" />
                          <xs:element name="indPres" type="xs:unsignedByte" />
                          <xs:element name="procEmi" type="xs:unsignedByte" />
                          <xs:element name="verProc" type="xs:decimal" />
                          <xs:element name="NFref">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="refNFe" type="xs:integer" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="emit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CNPJ" type="xs:unsignedLong" />
                          <xs:element name="xNome" type="xs:string" />
                          <xs:element name="xFant" type="xs:string" />
                          <xs:element name="enderEmit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="xLgr" type="xs:string" />
                                <xs:element name="nro" type="xs:unsignedByte" />
                                <xs:element name="xCpl" type="xs:string" />
                                <xs:element name="xBairro" type="xs:string" />
                                <xs:element name="cMun" type="xs:unsignedInt" />
                                <xs:element name="xMun" type="xs:string" />
                                <xs:element name="UF" type="xs:string" />
                                <xs:element name="CEP" type="xs:unsignedInt" />
                                <xs:element name="cPais" type="xs:unsignedShort" />
                                <xs:element name="xPais" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IE" type="xs:unsignedLong" />
                          <xs:element name="CRT" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dest">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CNPJ" type="xs:unsignedLong" />
                          <xs:element name="xNome" type="xs:string" />
                          <xs:element name="enderDest">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="xLgr" type="xs:string" />
                                <xs:element name="nro" type="xs:unsignedByte" />
                                <xs:element name="xCpl" type="xs:string" />
                                <xs:element name="xBairro" type="xs:string" />
                                <xs:element name="cMun" type="xs:unsignedInt" />
                                <xs:element name="xMun" type="xs:string" />
                                <xs:element name="UF" type="xs:string" />
                                <xs:element name="CEP" type="xs:unsignedInt" />
                                <xs:element name="cPais" type="xs:unsignedShort" />
                                <xs:element name="xPais" type="xs:string" />
                                <xs:element name="fone" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="indIEDest" type="xs:unsignedByte" />
                          <xs:element name="email" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="det">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="prod">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cProd" type="xs:unsignedByte" />
                                <xs:element name="cEAN" type="xs:string" />
                                <xs:element name="xProd" type="xs:string" />
                                <xs:element name="NCM" type="xs:unsignedInt" />
                                <xs:element name="CEST" type="xs:unsignedInt" />
                                <xs:element name="EXTIPI" type="xs:unsignedByte" />
                                <xs:element name="CFOP" type="xs:unsignedShort" />
                                <xs:element name="uCom" type="xs:string" />
                                <xs:element name="qCom" type="xs:decimal" />
                                <xs:element name="vUnCom" type="xs:decimal" />
                                <xs:element name="vProd" type="xs:decimal" />
                                <xs:element name="cEANTrib" type="xs:string" />
                                <xs:element name="uTrib" type="xs:string" />
                                <xs:element name="qTrib" type="xs:decimal" />
                                <xs:element name="vUnTrib" type="xs:decimal" />
                                <xs:element name="indTot" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="imposto">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="vTotTrib" type="xs:decimal" />
                                <xs:element name="ICMS">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ICMS60">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="orig" type="xs:unsignedByte" />
                                            <xs:element name="CST" type="xs:unsignedByte" />
                                            <xs:element name="vBCSTRet" type="xs:decimal" />
                                            <xs:element name="pST" type="xs:decimal" />
                                            <xs:element name="vICMSSTRet" type="xs:decimal" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PIS">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PISAliq">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CST" type="xs:unsignedByte" />
                                            <xs:element name="vBC" type="xs:decimal" />
                                            <xs:element name="pPIS" type="xs:decimal" />
                                            <xs:element name="vPIS" type="xs:decimal" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="COFINS">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="COFINSAliq">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CST" type="xs:unsignedByte" />
                                            <xs:element name="vBC" type="xs:decimal" />
                                            <xs:element name="pCOFINS" type="xs:decimal" />
                                            <xs:element name="vCOFINS" type="xs:decimal" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nItem" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="total">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ICMSTot">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="vBC" type="xs:decimal" />
                                <xs:element name="vICMS" type="xs:decimal" />
                                <xs:element name="vICMSDeson" type="xs:decimal" />
                                <xs:element name="vFCP" type="xs:decimal" />
                                <xs:element name="vBCST" type="xs:decimal" />
                                <xs:element name="vST" type="xs:decimal" />
                                <xs:element name="vFCPST" type="xs:decimal" />
                                <xs:element name="vFCPSTRet" type="xs:decimal" />
                                <xs:element name="vProd" type="xs:decimal" />
                                <xs:element name="vFrete" type="xs:decimal" />
                                <xs:element name="vSeg" type="xs:decimal" />
                                <xs:element name="vDesc" type="xs:decimal" />
                                <xs:element name="vII" type="xs:decimal" />
                                <xs:element name="vIPI" type="xs:decimal" />
                                <xs:element name="vIPIDevol" type="xs:decimal" />
                                <xs:element name="vPIS" type="xs:decimal" />
                                <xs:element name="vCOFINS" type="xs:decimal" />
                                <xs:element name="vOutro" type="xs:decimal" />
                                <xs:element name="vNF" type="xs:decimal" />
                                <xs:element name="vTotTrib" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="transp">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="modFrete" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="cobr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fat">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nFat" type="xs:unsignedShort" />
                                <xs:element name="vOrig" type="xs:decimal" />
                                <xs:element name="vDesc" type="xs:decimal" />
                                <xs:element name="vLiq" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nDup" type="xs:unsignedByte" />
                                <xs:element name="dVenc" type="xs:date" />
                                <xs:element name="vDup" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="pag">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="detPag">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tPag" type="xs:unsignedByte" />
                                <xs:element name="vPag" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="vTroco" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infAdic">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="infCpl" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:string" use="required" />
                  <xs:attribute name="versao" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="protNFe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="infProt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpAmb" type="xs:unsignedByte" />
                    <xs:element name="verAplic" type="xs:string" />
                    <xs:element name="chNFe" type="xs:integer" />
                    <xs:element name="dhRecbto" type="xs:dateTime" />
                    <xs:element name="nProt" type="xs:unsignedLong" />
                    <xs:element name="digVal" type="xs:string" />
                    <xs:element name="cStat" type="xs:unsignedByte" />
                    <xs:element name="xMotivo" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versao" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>